<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ahoy.uni">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unik">
        <activity android:name="ru.ahoy.uni.screens.activities.ScheduleActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="ru.ahoy.uni.utils.GoogleAuth"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name="ru.ahoy.uni.screens.activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ru.ahoy.uni.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>